/* img { border: 1px solid red; padding: 5px; } */
/* .jsgif { border: 1px solid blue; padding: 5px; } /* XXX: Testing purposes only. */

.jsgif {
  /* display: inline; */
  display: inline;
  position: relative;
  padding-bottom: 3px; /* FIXME: This is just so the toolbar doesn't disappear when you move the mouse to it. But figure out a better way of doing that. */
}

.jsgif_toolbar {
  /*display: none;*/
  visibility: hidden;

  font-family: sans-serif;

  background-color: #555;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;

  overflow: visible;
  white-space: nowrap;

  padding: 3px;

  position: absolute;
  left: 0;
  text-align: center;
  z-index: 50; /* XXX */
}

.jsgif_toolbar button {
  width: 3em;
  color: black;
  text-align: center;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  margin: 1px;
  cursor: pointer;
  background-color: #ddd;
}

.jsgif_simple_tools { }

/*.jsgif_show_info  { font-weight: bold; }*/
/*.jsgif_rev        { float: left; font-weight: bold; }*/
/*.jsgif_prev       { letter-spacing: -0.2em; }*/
/*.jsgif_next       { letter-spacing: -0.2em; }*/
/*.jsgif_play_pause { letter-spacing: -0.4em; padding: 0 0.2em 0 0; }*/
/*.jsgif_close      { float: right; }*/

.jsgif_info_tools { }

.jsgif_cur_frame  { width: 2em; color: black; }
.jsgif_delay_info { width: 2em; color: black; }

.jsgif_toolbar button:hover {
  color: red;
}

.jsgif:hover .jsgif_toolbar {
  /*display: block;*/
  visibility: visible;
}

.jsgif {
  text-decoration: none;
  color: black;
}


.jsgif_overlaid {
  border: 5px solid red;
}

.jsgif_overlaid:hover {
  border: 5px solid blue;
}




/*.jsgif_overlay_outer {
  /*display: inline; Hmm... * /
  display: block;
  position: relative;
  width: -moz-fit-content; /* Naturally this'll be replaced. * /
  height: -moz-fit-content;
}

.jsgif_overlay_inner {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;

  background-color: red;
}

.jsgif_overlay_inner:hover {
  background-color: blue;
}*/
